/***************** Phone Layout ****************/
@media (max-width: 500px) {
  .responsive-alert {
    display: block;
    background-color: tomato;
    padding: 10px 20px;
    width: 80%;
    margin: 30% auto;
    font-size: 20px;
}


  div:not(.responsive-alert) {
    display: none;
  }
}


/***************** Desktop/Laptop layout ****************/
@media (min-width: 500px) {

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.block {
  width: 100%;
  height: auto;
  min-height: 1000px;
  margin: 0px auto;
}

.block h1 {
  font-family: 'Exo 2', sans-serif;
  display: inline-block;
  text-align: center;
  background: tomato;
  margin: 0;
  padding: 10px 0;
  width: 100%;
  margin-top: 30px;
}

.proceed {
  background-color: white;
  border: 1px solid #444;
  padding: 10px 20px;
  font-size: 16px;
  margin: 0 auto;
  display: block;
  border-radius: 500px;
  transition: all .3s ease;
  text-decoration: none;
  color: #444;
  text-align: center;
  width: 150px;
}

.proceed:hover {
  background-color: #3AAD3B;
  border:1px solid #3AAD3B;
  color: white;
}

/*********** Intro block *************/

.responsive-alert {
  display: none;
}


.intro {
  background-color: #C8F7C5;
  border-bottom: 5px solid #6C7A89;
}

.body-copy {
  display: block;
  background-color: lightblue;
  margin: 50px 25%;
  text-align: center;
  padding: 20px;
  font-size: 24px;
}

.intro p:first-of-type {
  border-bottom: 2px solid yellow;
  display: inline-block;
  margin-bottom: -2px;
}

.intro span {
  font-size: 12px;
  vertical-align: top;
}

/********* Instructions Block *************/

.instructions {
  background-color: #52B3D9;
  border-bottom: 5px solid #EEEEEE;
}

.instructions .body-copy {
  display: block;
  background-color: lightblue;
  margin: 50px 25%;
  text-align: left;
  padding: 20px;
  font-size: 24px;
}

.instructions .proceed {
  display: block;
  margin: 0 auto;
}

/********* Words Block *************/

.words {
  background-color: #E9D460;
  border-bottom: 5px solid #BDC3C7;
}

#word-input {
  margin: 30px auto;
}

.input-field {
    display: inline-block;
    margin: 10px;
    border: 5px solid #FFF5BF;
    padding: 10px 80px 10px 5px;
    font-size: 20px;
}

.input-field-container {
    width: 90%;
    margin: 30px auto;
    text-align: center;
}


.words .buttons {
  text-align: center;
}

.reset-form {
  margin-left: 20px;
  border-bottom: 1px solid transparent;
}

.reset-form:hover {
  transition: all .1s linear;
  border-bottom: 1px solid red;
  color: red;
  cursor: pointer;
}

.words .proceed {
  margin-top: 40px;
  display: inline-block;
}

/********* Thinking Block *************/

.thinking {
  background-color: #EAE6DB;
  border-bottom: 5px solid #ECF0F1;
}

.story-is-ready,
#preload-complete {
  display: none;
}

.story-is-ready.story-loaded {
    display: block;
    background-color: #97D397;
    margin: 50px auto;
    width: 300px;
    text-align: center;
    padding: 40px 0px;
    font-size: 30px;
    border-radius: 20px;
}


#preload-complete.story-loaded {
  display: block;
}

#preloader-img {
  display: none;
}

#preloader-img.preloading-cat {
    display: block;
    height: auto;
    margin: 0 auto;
    width: 600px;
}

/********* Story Block *************/

.story {
   background-color: #65C6BB;
   border-bottom: 5px solid #95A5A6;
   text-align: center;
}

.storytime {
    display: inline-block;
    background-color: goldenrod;
    margin: 50px 2%;
    text-align: left;
    padding: 20px;
    font-size: 24px;
}

.storytime span {
    font-weight: 100;
    border-bottom: 1px solid black;
    font-family: sans-serif;
}

/********* The End Block *************/
.block.the-end {
    background-color: black;
    width: 100%;
    margin: 0px auto;
    display: inline-block;
}

.the-end img {
  width: 100%;
  display: block;
  margin: auto;
}

.storytime.body-copy {
    font-weight: bolder;
}
}