body {
  background-color: #DCC6E0;
  margin: 0;
}


.block {
    width: 100%;
    height: 98vh;
    margin: 0px auto;
    min-height: 500px;
}

i.material-icons.resetForm {
  border-radius: 50%;
}

i.material-icons.resetForm:hover {
    background: red;
    transition: all .8s ease;
}

/********** Welcome Block **********/

.welcome {
  background-color: #C8F7C5;
  border-bottom: 5px solid #6C7A89;
}

.welcome h1 {
    display: block;
    text-align: center;
    background: tomato;
    margin: 0;
    margin-top: 50px;
    padding: 10px 0;

}


/*********** Intro block *************/

.intro {
  background: #446CB3;
  border-bottom: 5px solid #D2D7D3;
}

.instructions {
  background-color: #52B3D9;
  border-bottom: 5px solid #EEEEEE;
}

.words {
  background-color: #3A539B;
  border-bottom: 5px solid #BDC3C7;
}

.thinking {
  background-color: ##EAE6DB;
  border-bottom: 5px solid #ECF0F1;
}


.story {
  background-color: #65C6BB;
  border-bottom: 5px solid #95A5A6;
}

.the-end {
  background-color: #F4D03F;
  border-bottom: 5px solid #DADFE1;
}

.story-is-ready, #preload-complete {
  display: none;
}

.story-is-ready.story-loaded, #preload-complete.story-loaded {
  display: block;
}

#preloader-img {
  display: none;
}

#preloader-img.preloading-cat {
  display: block;
  height: auto;
}